// everything above phablets dimensions
@media screen and(max-width: 960px)
  #consult-first-segment
    .segment.headline-bg
      .segment.headline
        margin: 140px auto 110px

  #questions-segment
    background: none
    .segment.text
      margin-top: -60px

////////////// 32 em treshold ///////////////
@media screen and(max-width: 32em)
  #consult-first-segment
    .segment.headline-bg
      .segment.headline
        margin: 100px auto 100px
        h1
          display: block
        .separator
          margin: 0px auto 0px

  #questions-segment
    .segment.text
      ul.questions-cathegories
        display: block
        ma
        width: 100%
        float: none
        li
          width: auto
          float: right
          a
            padding: 10px 12px
            font-size: 12px
            text-align: center
            border: 1px solid #DDD
            box-sizing: border-box

  #questions-segment
    .segment.text
      .questions-cathegories
        img
          display: none
        #askAnything
          margin: 9px
          float: left
          display: inline-block
          width: auto
          padding: 8px 12px
    #button-show-moderators
      display: none

      .questions
        width: 100%
        float: none

  .question-preview-wrap
    padding: ($universal-padding / 1.5) ($universal-padding / 2)
    .question-preview-avatar
      width: 15%
      text-align: center
      padding-right: 15px
      padding-top: 5px

      .question-avatar
        height: 30px
        width: 30px
        margin-bottom: 15px
        background-size: contain

      .person-name
        font-size: 12px
        margin-top: 15px

    .question-preview-text
      max-width: 100%

////////////// 24 em treshold ///////////////
@media screen and(max-width: 400px)
  #questions-segment
    .segment.text
      ul.questions-cathegories
        li
          a
            padding: 7px 5px
            font-size: 11px

  #questions-segment
    .segment.text
      .questions-cathegories
        #askAnything
          margin: 7px
          float: left
          font-size: 11px
          padding: 7px 5px


////////////// 24 em treshold ///////////////
@media screen and(max-width: 24em)
  .question-preview-wrap
    .question-preview-avatar
      display: none
    .question-preview-text
      max-width: 100%
