// segment
#first-segment
  .segment.headline-bg
    max-width: 100%
    height: 100vh
    min-height: 720px
    background:
      image: url('img/hero-image-BG-min.png')
      size: cover
      background-attachment: fixed
      position: center

    img
      position: relative
      width: 80%
      max-width: 500px
      margin: 0 auto
      top: 120px //fallback if needed
      top: calc(50% - 73px)
      transform: perspective(1px) translateY(-50%)

  .headline-bg.about-us
    height: 40vh
    min-height: 500px
    background:
      image: url('img/greeen-bg-web-min.png')



