#second-segment
  background:
    image: url('img/decorative_paper_01.jpg')
    position: center

  .segment.text
    margin-top: -200px
    z-index: 3

    img
      width: 112%
      position: relative
      margin-left: -$universal-padding
      margin-top: $universal-padding
      margin-bottom: $universal-padding

    .contact-box
      width: 50%
      display: inline-block
      float: left
      box-sizing: border-box
      margin-bottom: 50px
      h2
        margin-top: ($universal-padding / 3)

    .contact-box.left
      padding-right: ($universal-padding / 2)
      text-align: right
      border-right: 1px solid #DCDCDC

    .contact-box.right
      padding-left: ($universal-padding / 2)

    button.contact-us
      display: block
      margin: $universal-padding auto
      padding: 10px 26px
      background: $accent-color
