#thirdh-segment
  background:
    image: url('img/purple_tea.png')
    size: cover
    position: center
  position: relative
  margin-top: -40px
  padding-top: 250px
  padding-bottom: 300px
  z-index: 2

  .segment.headline
    margin: 0 auto
    h2
      text-align: center
      margin-top: 0
      margin-bottom: 0
      letter-spacing: 0.002em
      font-size: 3.7em
      line-height: 1.5em
      color: black
      .smaller
        font-size: 18px
    .separator
      width: 85px
      height: 7px
      background: black
      border-radius: 4px
      margin: 30px auto $universal-padding
